.form{
    box-sizing: border-box;
    width: 380px;
    height: 350px;
    padding: 38px 25px;
    border: 1px solid var(--grey2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.caption{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: var(--grey4);
    line-height: 22px;
}

.form--input{
    display: flex;
    align-items: center;
    padding: 0px 16px;
    background-color: var(--grey1);
    border: none;
    border-radius: 4px;
    height: 50px;
    font-family: Inter;
    font-size: 16px;
    line-height: 26px;
    width: 90%;
}
.form--description{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.form--description > div {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}
.form--priceSymbol{
    position: absolute;
    right: -10px;
    top: 35px;
}